@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    --corprinc: #20bd45;
    --corsecun: #293D2E;
    --corterc: #319248;
}

header {
    background-color: var(--corprinc);
    width: 100%;
    padding-top: 45px;
    padding-bottom: 37px;
    text-align: center;
    margin: 0%;
    color: white;
    text-shadow: 0.5px 0.5px 1px black;

}

header p {
    margin-top: 10px;
}

nav ul {
    background-color: var(--corterc);
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.588);
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 10px;
    padding-left: 0px;
    margin-bottom: 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a.pagAtual {
    background-color: var(--corsecun);
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 1px black;
    padding: 10px;
}

main {
    margin: 3%;
}

img {
    width: 100%;
    display: block;
    margin: auto;
}

#pijama {
    background-color: var(--corsecun);
    font-size: 19px;
    font-weight: lighter;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}

#pijama a{
    color: white;
    font-family: 'Times New Roman', Times, serif;  
    text-shadow: 0.5px 0.5px 1px black;
    text-decoration: none;
}

#pijama a:hover {
    color: #c1f1ce;
    text-shadow: 0.5px 0.5px 1px black;
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width:992px){
    header {
        padding-top: 65px;
        padding-bottom: 57px;
    }

    header h2 {
        font-size: 30px;
    }

    header p {
        font-size: 25px;
    }

    nav ul {
        gap: 55px;
        padding: 20px;
        padding-left: 0px;
        margin-bottom: 23px;
        font-size: 20px;
    }    

    nav ul li a.pagAtual {
        padding: 20px;
    }

    #pijama {
        font-size: 26px;
        margin-top: 30px;
        padding: 20px;
    }
}

/*PC , TELAS GRANDES...*/
@media screen and (min-width:992px) {
    header {
        padding-top: 75px;
        padding-bottom: 67px;
    }

    header h2 {
        font-size: 30px;
    }

    header p {
        font-size: 25px;
    }

    nav ul {
        gap: 120px;
        padding: 20px;
        padding-left: 0px;
        margin-bottom: 23px;
        font-size: 20px;
    }    

    nav ul li a.pagAtual {
        padding: 20px;
        padding-left: 65px;
        padding-right: 65px;
    }

    #pijama {
        font-size: 26px;
        margin-top: 30px;
        padding: 20px;
    }

    main {
        width: 50vw;
        margin: auto;
    }

    a img {
        height: 70vh;
    }

}